<div class="border-orange-500 rounded-md border-2 p-5">
	<div>
		<div class="book-name">{{ book.name }}</div>
		<div class="book-author">{{ book.author }}</div>
	</div>
	<div class="">
		<a
			class="cursor-pointer text-orange-600 hover:underline"
			hx-get="/books/{{ book.book_id }}"
			>Show</a
		>
		<a
			class="cursor-pointer text-yellow-400 hover:underline"
			hx-get="/books/{{ book.book_id }}/edit"
			>Edit</a
		>
		<a
			class="text-red-500 cursor-pointer hover:underline"
			hx-delete="/books/{{ book.book_id }}"
			hx-target="#booklist"
			hx-confirm="Are you sure?"
			hx-swap="innerHTML"
			hx-trigger="click"
		>
			Delete
		</a>
	</div>
</div>
