<div class="bg-opacity-10 bg-orange-200 h-80 mt-10 p-10 rounded-lg flex flex-col">
	<div class="flex">
		<h1 class="font-mono">{{book.name}}, by {{book.author}}</h1>
		<button class="bg-orange-500 border-2 rounded ml-auto text-white w-7 h-7">
			<a href="/books">X</a>
		</button>
	</div>
	<form>
		<label>
			<input class="square-radio" type="radio" name="state" value="unread" hx-trigger="change"
				hx-post="/books/{{ book.book_id }}/state" hx-target="#bookStatus" hx-swap="innerHTML" {% if
				book.state=="unread" %} checked {% endif %} />Unread</label>
		<label><input class="square-radio" type="radio" name="state" value="in-read" hx-trigger="change"
				hx-post="/books/{{ book.book_id }}/state" hx-target="#bookStatus" hx-swap="innerHTML" {% if
				book.state=="in-read" %} checked {% endif %} />In Reading</label>
		<label><input class="square-radio" type="radio" name="state" value="read" hx-trigger="change"
				hx-post="/books/{{ book.book_id }}/state" hx-target="#bookStatus" hx-swap="innerHTML" {% if
				book.state=="read" %} checked {% endif %} />Read</label>
	</form>
	<div class="mt-auto align-text-bottom flex">
		<div>
			<div id="bookStatus">Status: {{ book.state }}</div>
			<div>Type: {{ book.type_of }}</div>
		</div>

		<div class="ml-auto justify-end flex mt-auto space-x-2">
			<a class="text-red-500 cursor-pointer hover:underline" hx-delete="/books/{{ book.book_id }}"
				hx-confirm="Are you sure?" hx-target="#book-view" hx-trigger="click">
				Delete
			</a>
		</div>
	</div>
</div>