{% if message %}
{% set add = "bg-green-400" %}
{% set delete = "bg-red-400" %}
{% set error= "bg-yellow-400" %}
{% set colors = {"add":add, "delete":delete,"error":error,} %} {% set tail = colors.get(message.status,error) %}

<div id="bookMessageBox" class="rounded text-white m-2  p-2 flex {{ tail }} transition-all">
	<div>{{ message.text }}</div>
	<button class="ml-auto" hx-post="/books/close-message" hx-swap="outerHTML"
		hx-target="#bookMessageBox">close</button>
</div>
{% else %}
<div id="bookMessageBox" class="transition-all h-7"></div>
{% endif %}