{% extends "home/index.html" %} {% block reflections %}



<div class="w-80" hx-get="/reflections/question/0" hx-trigger="load" hx-target="#questionInput">
	<form action="/new" method="post">
		<div>
			<div class="rounded-xl bg-white h-12 flex">
				<div id="questionInput"></div>
				<button class="ml-auto pr-2  text-gray-500">
					<i class="fas fa-chevron-right text-orange-500"></i>
				</button>
			</div>


	</form>
	<div id="reflection-list" class="flex flex-row flex-wrap mt-2 gap-1 ">
		{% for question in questions %}
		<div class="bg-white rounded text-xs py-0.5 px-1 cursor-pointer m-1" data-question-id={{ question.id }}
			hx-get="/reflections/question/{{ question.id }}">
			<p>{{ question.text }}</p>
		</div>
		{% endfor %}
	</div>
	<div class="items-center text-center">
		<button type="submit" hx-post="new" hx-trigger="click" hx-target="#reflectionList">
			Finish
		</button>
	</div>
</div>
{% endblock %}