{% extends "home/index.html" %} {% block reflections %}

<div>
	<form action="/new" method="post">
		<div>
			<p>What good happened today?</p>
			<input
				type="text"
				name="good"
				placeholder=""
				style="height: 35px; width: 250px"
			/>
			<p>Did something make you smile?</p>
			<input
				type="text"
				name="smile"
				placeholder=""
				style="height: 35px; width: 250px"
			/>
			<p>Is there anything you would've done other way?</p>
			<input
				type="text"
				name="other"
				placeholder=""
				style="height: 35px; width: 250px"
			/>
		</div>
		<div style="align-items: center; justify-content: center">
			<button
				type="submit"
				hx-post="new"
				hx-trigger="click"
				hx-target="#reflectionList"
			>
				Insert reflection
			</button>
		</div>
		<div id="reflectionList"></div>
	</form>
</div>
{% endblock %}
