{% block questionInput %}
{% if question.id == show_id %}
<form id="answer">
    <div id="rootDiv" class="w-full flex flex-col border-orange-400 border-solid border-2 
        rounded-xl bg-white overflow-hidden transition duration-300 ease-in-out
        p-2" x-transition>
        <div class="flex-grow">
            <div class="flex flex-row">
                <p id="description" class=" ml-2 w-full duration-300 text-gray-500 text-lg" x-transition>
                    {{ question.question_text }}
                </p>
                <div class="justify-end flex ml-auto mb-auto mt-2 p-1.5 cursor-pointer
                 hover:bg-orange-300 rounded-full" x-on:click="open = ! open" x-transition>
                    <i class="fas fa-chevron-up text-orange-500" x-show="open == true"></i>
                    <i class="fas fa-chevron-down text-orange-500" x-show="open == false"></i>

                </div>
            </div>
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <textarea class="resize-none w-full max-h-max ml-1 justify-center focus:outline-none
                focus:ring-0 text-gray-500 text-lg pl-2" rows="4" wrap="soft" x-show="open" type="text" name="answer"
                id="answer" onfocus="document.getElementById('description').classList.add('text-xs');"
                onblur="document.getElementById('description').classList.remove('text-xs');"
                data-question-id="{{ question.id }}"></textarea>
        </div>

        <div class="justify-end flex ml-auto" x-show.important="open" x-transition>
            {% if question.id|int > -1 %}
            <button class="p-2 " hx-post="/question" hx-target="#reflectionWindow" hx-swap="outerHTML">
                <i class="fas fas fa-plus-circle text-lg text-orange-500 rounded-full
                hover:bg-orange-200 p-2
                active:bg-orange-100"></i>
            </button>
            {% endif %}

        </div>
    </div>
</form>
{% endif %}
{% endblock %}