<div>
    <p id="description" class=" ml-2 text-xs  transition-opacity duration-300 text-gray-500 opacity-0 max-h-0">
        {{ question.text }}
    </p>
    <input
        class="ml-2 justify-center mt-2 focus:mt-4 focus:outline-none focus:ring-0 text-gray-500 text-lg transition-all duration-300 pl-2   "
        type="text" name="good" placeholder="{{ question.text }}"
        onfocus="this.placeholder=''; document.getElementById('description').classList.add('opacity-100');"
        onblur="this.placeholder='{{ question.text }}'; document.getElementById('description').classList.remove('opacity-100');"
        data-question-id="{{ question.id }}" />

</div>