{% extends "authentication/index.html" %} {% block login %}

<div>
	<h1>Login</h1>
	<form>
		<div>
			<input
				type="text"
				placeholder="username"
				id="username"
				name="username"
				required
				autofocus
			/>
		</div>
		<div>
			<input
				type="password"
				placeholder="password"
				id="password"
				name="password"
				required
			/>
		</div>
		<button
			type="submit"
			hx-post="/auth/login"
			hx-trigger="click"
			hx-target="#login-result"
			id="login-form"
		>
			login
		</button>
	</form>

	<div>
		<a href="/register" style="text-decoration: underline; color: black"
			>New user?</a
		>
	</div>
	<div id="login-result"></div>
</div>

<script>
	document.addEventListener("htmx:afterRequest", function (event) {
		if (event.detail.requestConfig.path === "/auth/login") {
			if (event.detail.xhr.status === 204) {
				window.location.href = "/home";
			} else if (event.detail.xhr.status === 400) {
				var loginResult = document.getElementById("login-result");
				loginResult.textContent =
					"Login failed. Please check your credentials.";
			}
		}
	});
</script>

{% endblock %}
