<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>NomsaApp</title>

	<link rel="stylesheet" href="/static/css/tail.css" />

	<script src="/static/js/htmx.js"></script>
	<script src="https://kit.fontawesome.com/f416faa135.js" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<script src="/static/js/modules/register.js"></script>
</head>

<body style="background-color: #F8F3F3;">
	<div class="">{% include "shared/header.html" %}</div>
	<div class="mt-24">{% block home %} {% endblock %}</div>
	<div class="home">{% block authentication %} {% endblock %}</div>
</body>

</html>