<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>NomsaApp</title>

	<link rel="stylesheet" href="/static/css/tail.css" />

	<script src="/static/js/htmx.js"></script>
	<script src="https://kit.fontawesome.com/f416faa135.js" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<script src="/static/js/modules/register.js"></script>
</head>

<body style="background-color: #F8F3F3;">
	<div class="">{% include "shared/header.html" %}</div>

	<div class="flex flex-col items-center mt-20">
		<div class="flex flex-row justify-center mb-2 text-sm">
			<a class="text-orange-300 hover:text-orange-500 px-1.5 py-0.5 rounded-lg" href="/">today
				<i class="fas fa-file-signature"></i>
			</a>
			<a class="text-violet-300 hover:text-violet-500 px-1.5 py-0.5 rounded-lg" href="/history">past
				<i class="fas fa-history"></i>
			</a>
		</div>
		<img src="/static/images/nomsa-logo.png" alt="Nomsa Logo" class="h-20 w-auto mb-6" />
		{% block reflections %} {% endblock %}
		{% block history %} {% endblock %}
		{% block authentication %} {% endblock %}
	</div>
</body>

</html>