{% block header %}
<div
	class="bg-orange-500 text-white flex p-4 text-center shadow-lg justify-between mb-10"
>
	<div class="navigation">
		{% if user %}
		<a href="/books"
		class="hover:underline">Books</a>
		<a href="/reflections"
		class="hover:underline">Reflections</a>
		<a href="/diary"
		class="hover:underline">Diary</a>
		{% endif %}
	</div>
	<div class="ml-auto">
		{% if not user %}
		<button
			hx-get="/login"
			hx-trigger="click"
			hx-target="body"
			hx-push-url="/"
			class="hover:underline"
		>
			Log in
		</button>
		{% else %}
		<button
			hx-post="/auth/logout"
			hx-trigger="click"
			hx-target="body"
			hx-push-url="/"
			class="hover:underline"
		></button>
			Log out
		</button>
		{% endif %}
	</div>
</div>

<script>
	document.addEventListener("htmx:afterRequest", function (event) {
		if (event.detail.requestConfig.path === "/auth/logout") {
			if (event.detail.xhr.status === 204) {
				window.location.href = "/";
			}
		}
	});
</script>

{% endblock %}
